# Make a Generator

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame([], columns=list(range(10)), index=list(range(100)))
df.fillna("x", inplace=True)
df[2] = list(range(100))

def butcher(dataset, batch_size):
    for i in range(0, dataset.shape[0], batch_size):
        yield dataset.iloc[i:i+batch_size]

batch = butcher(df, 5)

print(type(batch))

display(next(batch), next(batch), next(batch))

<class 'generator'>

   0  1  2  3  4  5  6  7  8  9
0  x  x  0  x  x  x  x  x  x  x
1  x  x  1  x  x  x  x  x  x  x
2  x  x  2  x  x  x  x  x  x  x
3  x  x  3  x  x  x  x  x  x  x
4  x  x  4  x  x  x  x  x  x  x

   0  1  2  3  4  5  6  7  8  9
5  x  x  5  x  x  x  x  x  x  x
6  x  x  6  x  x  x  x  x  x  x
7  x  x  7  x  x  x  x  x  x  x
8  x  x  8  x  x  x  x  x  x  x
9  x  x  9  x  x  x  x  x  x  x

    0  1   2  3  4  5  6  7  8  9
10  x  x  10  x  x  x  x  x  x  x
11  x  x  11  x  x  x  x  x  x  x
12  x  x  12  x  x  x  x  x  x  x
13  x  x  13  x  x  x  x  x  x  x
14  x  x  14  x  x  x  x  x  x  x